/*-------------------------- DECLARATIONS ---------------------------*/

@font-face {
    font-family: Space;
    src: local('Space'), url(../font/GameSpaceAcademy.otf) format('opentype');
  }
  

:root{
    --Basecolor : #301934;
    --BaseTextcolor : #d8d8d8;
    --BasecolorHover : #220b25;
    --BaseTextcolorHover : gold;
    --BasecolorPage : #200e53;
}

/*-------------CONNECT -------------------- */

.Page{
    background-color: var(--BasecolorPage);
    color: var(--BaseTextcolor);
    margin-top: 4.5em;
    cursor:default;
    min-height: 92.56965944272446vh;
}